
     <style>
      #main-container {
        width: 100%;
        height: 100vh;
        background: url("assets/images/women29.jpg");
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        color: #ffffff;
      }
    </style>
   
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top" style="height: 12%;"> 
      <div class="container px-5">
        
        <a class="navbar-brand" href="#">
          <img
            class="logo"
            src="assets/images/logomain.png"
            width="100"
            height="60"
          /></a
        >

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav mr-auto">
          
             <li class="nav-item">
              <a class="nav-link" [routerLink]="['/about']" title="About us"
                >About Us</a
              >
            </li> 
            <li class="nav-item">
              <a
                class="nav-link"
                [routerLink]="['/ngo']"
                title="Non-Governmental Organizations"
                >NGO's</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/trainings']" title="Trainings"
                >Trainings</a
              >
            </li>
           
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/main-page']" title="Welcome"
                > Welcome</a
              >
            </li>
            <li class="nav-item dropdown" >
              <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Account</a>
              <div class="dropdown-menu" >
                  <a href="#" class="dropdown-item">My Profile</a>
                  <a (click)="navigateToSection('account-about')"  class="dropdown-item">Our team</a>
                  <a href="#" class="dropdown-item">Logout</a>
                  
               
                
              </div>
          </li>


          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/dashboard']" title="Admin Dashboard"
              > Dashboard</a
            >
          </li>

            <!-- <li class="nav-item">
              <a class="nav-link" [routerLink]="['/profile']" title="Account"
                >Account</a
              >
            </li> -->
          </ul>
        </div>
      </div>
    </nav>
   
    <header class="masthead text-white">
      <div class="masthead-content">
<div class="view" id="main-container">
      <div class="overlay">
        <h1 class="text-center p-4">Ministry of Women Empowerment</h1>
      </div>
    </div> 
  </div></header>
    <section id="account-about" class="team-section text-center">
      <h2 class="h1-responsive font-weight-bold my-5">OUR AMAZING TEAM</h2>
    
      <div class="card-group">
        <div class="card">
          <div class="avatar mx-auto">
            <img
              src="https://mdbootstrap.com/img/Photos/Avatars/img%20(20).webp"
              class="rounded-circle z-depth-1"
              alt="Sample avatar"
              style="width: 150px;"
            />
          </div>
          <div class="card-body">
            <h5 class="font-weight-bold mt-4 mb-3">Anchal</h5>
            <p class="text-uppercase blue-text">
              <strong>Executive Director</strong>
            </p>
            <ul class="list-unstyled mb-0">
              <a class="p-2 fa-lg fb-ic">
                <a href="#" class="fa fa-facebook"></a>
              </a>
              <a class="p-2 fa-lg tw-ic">
                <a href="#" class="fa fa-twitter"></a>
              </a>
              <a class="p-2 fa-lg ins-ic">
                <a href="#" class="fa fa-instagram"></a>
              </a>
            </ul>
          </div>
        </div>
    
        <div class="card">
          <div class="avatar mx-auto">
            <img
              src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(2).webp"
              class="rounded-circle z-depth-1"
              alt="Sample avatar"
              style="width: 150px;"
            />
          </div>
          <div class="card-body">
            <h5 class="font-weight-bold mt-4 mb-3">Shrawani</h5>
            <p class="text-uppercase blue-text">
              <strong>UI Designer</strong>
            </p>
            <ul class="list-unstyled mb-0">
              <a class="p-2 fa-lg fb-ic">
                <a href="#" class="fa fa-facebook"></a>
              </a>
              <a class="p-2 fa-lg ins-ic">
                <a href="#" class="fa fa-instagram"></a>
              </a>
              <a class="p-2 fa-lg ins-ic">
                <a href="#" class="fa fa-linkedin"></a>
              </a>
            </ul>
          </div>
        </div>
    
        <div class="card">
          <div class="avatar mx-auto">
            <img
              src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(10).webp"
              class="rounded-circle z-depth-1"
              alt="Sample avatar"
              style="width: 150px;"
            />
          </div>
          <div class="card-body">
            <h5 class="font-weight-bold mt-4 mb-3">SaiHoshini</h5>
            <p class="text-uppercase blue-text">
              <strong>Head of Marketing</strong>
            </p>
            <ul class="list-unstyled mb-0">
              <a class="p-2 fa-lg fb-ic">
                <a href="#" class="fa fa-facebook"></a>
              </a>
              <a class="p-2 fa-lg ins-ic">
                <a href="#" class="fa fa-twitter"></a>
              </a>
              <a class="p-2 fa-lg ins-ic">
                <a href="#" class="fa fa-linkedin"></a>
              </a>
            </ul>
          </div>
        </div>
        <div class="card">
          <div class="avatar mx-auto">
            <img
              src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(9).webp"
              class="rounded-circle z-depth-1"
              alt="Sample avatar"
              style="width: 150px;"
            />
          </div>
          <div class="card-body">
            <h5 class="font-weight-bold mt-4 mb-3">Mahesh</h5>
            <p class="text-uppercase blue-text">
              <strong>Technical Director</strong>
            </p>
            <ul class="list-unstyled mb-0">
              <a class="p-2 fa-lg fb-ic">
                <a href="#" class="fa fa-facebook"></a>
              </a>
              <a class="p-2 fa-lg tw-ic">
                <a href="#" class="fa fa-twitter"></a>
              </a>
              <a class="p-2 fa-lg ins-ic">
                <a href="#" class="fa fa-instagram"></a>
              </a>
            </ul>
          </div>
        </div>
    
        <div class="card">
          <div class="avatar mx-auto">
            <img
              src="https://mdbcdn.b-cdn.net/img/new/avatars/8.webp"
              class="rounded-circle z-depth-1"
              alt="Sample avatar"
              style="width: 150px;"
            />
          </div>
          <div class="card-body">
            <h5 class="font-weight-bold mt-4 mb-3">Nikhil</h5>
            <p class="text-uppercase blue-text">
              <strong>Assistant Director</strong>
            </p>
            <ul class="list-unstyled mb-0">
              <a class="p-2 fa-lg fb-ic">
                <a href="#" class="fa fa-facebook"></a>
              </a>
              <a class="p-2 fa-lg ins-ic">
                <a href="#" class="fa fa-instagram"></a>
              </a>
              <a class="p-2 fa-lg ins-ic">
                <a href="#" class="fa fa-linkedin"></a>
              </a>
            </ul>
          </div>
        </div>
    
        <div class="card">
          <div class="avatar mx-auto">
            <img
              src="https://mdbcdn.b-cdn.net/img/new/avatars/8.webp"
              class="rounded-circle z-depth-1"
              alt="Sample avatar"
              style="width: 150px;"
            />
          </div>
          <div class="card-body">
            <h5 class="font-weight-bold mt-4 mb-3">Naveen</h5>
            <p class="text-uppercase blue-text">
              <strong>Head of Marketing</strong>
            </p>
            <ul class="list-unstyled mb-0">
              <a class="p-2 fa-lg fb-ic">
                <a href="#" class="fa fa-facebook"></a>
              </a>
              <a class="p-2 fa-lg ins-ic">
                <a href="#" class="fa fa-twitter"></a>
              </a>
              <a class="p-2 fa-lg ins-ic">
                <a href="#" class="fa fa-linkedin"></a>
              </a>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <footer class="bg-dark text-center text-white">
      <div class="container p-4 pb-0">
        <section class="mb-4">
    
          
    
          <a class="p-2 fa-lg fb-ic">
            <a href="#" class="fa fa-facebook"></a>
          </a>
          <a class="p-2 fa-lg ins-ic">
            <a href="#" class="fa fa-twitter"></a>
          </a>
          <a class="p-2 fa-lg ins-ic">
            <a href="#" class="fa fa-google"></a>
          </a>
          <a class="p-2 fa-lg ins-ic">
            <a href="#" class="fa fa-linkedin"></a>
          </a>
          <a class="p-2 fa-lg ins-ic">
            <a href="#" class="fa fa-instagram"></a>
          </a>
          <a class="p-2 fa-lg ins-ic">
            <a href="#" class="fa fa-github"></a>
          </a>
          <br><br>
          <p class="text-muted">
            &copy; Module No. 411, 4th Floor, NSIC-MDBP Building Okhla Industrial
            Estate, New Delhi – 110020 (INDIA)<br />
            M - +919897546378
          </p>
    
        </section>
      </div>
     
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022 Copyright:
        <!-- <a class="footer-link" href="#"> sheheroes.org</a
          >&nbsp; developed and maintained by
          <a class="footer-link" href="">&nbsp;Larsen & Toubro Infotech</a> -->
          <a class="footer-link" href="#"> sheheroes.org</a>
      </div>
    
    </footer>

    <!-- <div class="footer-copyright text-center py-3" id="footer-bottom">
      © 2020 Copyright :&nbsp;
      <a class="footer-link" href=""> Ministry of Women and Child Development</a
      >&nbsp; developed and maintained by
      <a class="footer-link" href="">&nbsp;Larsen & Toubro Infotech</a>
    </div> -->
    