<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top" style="height: 12%;"> 
  <div class="container px-5">
    <a class="navbar-brand" href="#">
      <img
        class="logo"
        src="assets/images/logomain.png"
        width="100"
        height="60"
      /></a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto">
      
        
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/about']" title="About us">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/ngo']" title="Non-Governmental Organizations">NGO's</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/trainings']" title="Trainings">Trainings</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/faq']" title="Frequently Asked Questions">FAQ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/contactus']" title="Contact Us">Contact Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/user']" title="Update user">Account</a>
    </li>
      </ul>
    </div>
  </div>
</nav>
<header class="masthead text-white">
<div class="masthead-content">


    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-10">
        <div class="col-lg-11 col-xl-9">
          <div class="card">
          <div class="row">
            <div class="col-sm-6">
              <h5 class="card-header text-center text-white bg-success">
                Payment Gateway
              </h5>
              
              <div >
               
                <div class="card-body">
                  <!-- <h5 style="color: black;" class="card-title text-center">Payment Details</h5> -->
         
                  <form [formGroup]="paymentForm" (ngSubmit)="onSubmit()"> 
                  
                     
                    <div class="form-group">
                      <label style="color: black;" for="coursename">Course Name</label>
                      <input type="text" class="form-control" id="coursename"
                      formControlName="coursename" disabled>                        
                    </div>
                    <div class="form-group">
                      <label style="color: black;" for="amount">Amount</label>
                      <input type="text" class="form-control" id="amount"
                      formControlName="amount" disabled>                        
                    </div>
                    <div class="form-group">
                      <label style="color: black;" for="duration">Duration</label>
                      <input type="text" class="form-control" id="duration"
                      formControlName="duration" disabled>                        
                    </div> 
                     <div class="form-group">
                      <label style="color: black;" for="paymentDate">Payment Date</label>
                      <input type="date" class="form-control col-md-8" id="paymentDate"
                      formControlName="presentDate" disabled>                        
                    </div>
                  
          &nbsp;
                    <div class="text-center">
                      <button class="btn btn-success mr-1">Confirm Payment</button>
                     
                    </div>
                  </form>
              
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card-body">
              <!-- <img src="assets/images/images28.png" style="height: 89%; width:88%"/> -->
                <img  src="assets/images/MicrosoftTeams-image.png" style="height: 85%; width:85%; "/>
              </div>
                
            </div>
        
          </div>
          </div>
          
        </div>
      </div>
    </div>
</div>






<div class="bg-circle-1 bg-circle"></div>
<div class="bg-circle-2 bg-circle"></div>
<div class="bg-circle-3 bg-circle"></div>
<div class="bg-circle-4 bg-circle"></div>
</header>


<!-- Footer-->
<footer class="bg-dark text-center text-white">
  <div class="container p-4 pb-0">
    <section class="mb-4">

      

      <a class="p-2 fa-lg fb-ic">
        <a href="#" class="fa fa-facebook"></a>
      </a>
      <a class="p-2 fa-lg ins-ic">
        <a href="#" class="fa fa-twitter"></a>
      </a>
      <a class="p-2 fa-lg ins-ic">
        <a href="#" class="fa fa-google"></a>
      </a>
      <a class="p-2 fa-lg ins-ic">
        <a href="#" class="fa fa-linkedin"></a>
      </a>
      <a class="p-2 fa-lg ins-ic">
        <a href="#" class="fa fa-instagram"></a>
      </a>
      <a class="p-2 fa-lg ins-ic">
        <a href="#" class="fa fa-github"></a>
      </a>
      <br><br>
      <p class="text-muted">
        &copy; Module No. 411, 4th Floor, NSIC-MDBP Building Okhla Industrial
        Estate, New Delhi – 110020 (INDIA)<br />
        M - +919897546378
      </p>

    </section>
  </div>
 
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright:
    <!-- <a class="footer-link" href="#"> sheheroes.org</a
      >&nbsp; developed and maintained by
      <a class="footer-link" href="">&nbsp;Larsen & Toubro Infotech</a> -->
      <a class="footer-link" href="#"> sheheroes.org</a>
  </div>

</footer>
<!-- Bootstrap core JS-->
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script> -->
<!-- Core theme JS-->
<!-- </body>
</body>
</html> -->


