<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
  <div class="container px-5">
    <img class="logo" src="assets/images/mwcd.jfif" width="100" height="60" />
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto">
        <!-- <li class="nav-item">
          <a class="nav-link" href="Register.html">Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="login.html">Log In</a> -->

        
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/signup']" title="Register"
              >Register</a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="['/mainPage']"
              title="Main Page"
              >Main Page</a
            >
          </li>
      </ul>
    </div>
  </div>
</nav>
<header class="masthead text-white">
  <div class="masthead-content">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-10">
        <div class="col-lg-10 col-xl-8">
          <div class="card">
            <div class="row">
              <div class="col-sm-6">
                <!-- <h5 class="card-header text-center text-white gradient-custom-2 mb-3">
                Payment Gateway
              </h5>  -->

                <div>
                  <!-- <div>
                      <img style="height: 22%; width: 70%; padding-left: 115px; " src="assets/images/login2.jpg">
                  </div> -->
                  <h4
                    style="color: black; padding-left: 80px; padding-top: 15px"
                  >
                    Registration Form
                  </h4>
                  <div class="card-body">
                    <form
                      class="mx-1 mx-md-4"
                      [formGroup]="addForm"
                      (ngSubmit)="onSubmit()"
                      style="color: black"
                    >
                      <!-- <p>Please login to your account</p> -->
                      <div class="form-group">
                        <div class="form-outline mb-4">
                          <input
                            formControlName="fullName"
                            placeholder="Full Name"
                            name="fullName"
                            class="form-control"
                            placeholder="Enter your Full name"
                            type="text"
                            id="fullName"
                          />
                          <div
                            *ngIf="
                              submitted && addForm.controls.fullName.errors
                            "
                            class="error"
                          >
                                      
                            <div
                              class="text-danger"
                              *ngIf="addForm.controls.fullName.errors.required"
                            >
                              Name is required
                            </div>
                                    
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="form-outline mb-4">
                          <input
                            type="email"
                            formControlName="email"
                            placeholder="Enter Email address"
                            name="email"
                            class="form-control"
                            id="email"
                          />
                          <div
                            *ngIf="submitted && addForm.controls.email.errors"
                            class="error"
                          >
                                      
                            <div
                              class="text-danger"
                              *ngIf="addForm.controls.email.errors.required"
                            >
                              Email is required
                            </div>
                                    
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="form-outline mb-4">
                          <input
                            formControlName="phoneNo"
                            type="tel"
                            placeholder="Enter your phone Number"
                            name="phoneNo"
                            class="form-control"
                            id="phoneNo"
                          />
                          <div
                            *ngIf="submitted && addForm.controls.phoneNo.errors"
                            class="error"
                          >
                                      
                            <div
                              class="text-danger"
                              *ngIf="addForm.controls.phoneNo.errors.required"
                            >
                              Phone Number is required
                            </div>
                                    
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="form-outline mb-4">
                          <input
                            formControlName="aadharNo"
                            type="tel"
                            placeholder="Enter your Aadhar Number"
                            name="aadharNo"
                            class="form-control"
                            id="aadharNo"
                          />
                          <div
                            *ngIf="
                              submitted && addForm.controls.aadharNo.errors
                            "
                            class="error"
                          >
                                      
                            <div
                              class="text-danger"
                              *ngIf="addForm.controls.aadharNo.errors.required"
                            >
                              Aadhar Number is required
                            </div>
                                    
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="form-outline mb-4">
                          <input
                            type="text"
                            formControlName="address"
                            placeholder="Enter  address"
                            name="address"
                            class="form-control"
                            id="address"
                          />
                          <div
                            *ngIf="submitted && addForm.controls.address.errors"
                            class="error"
                          >
                                      
                            <div
                              class="text-danger"
                              *ngIf="addForm.controls.address.errors.required"
                            >
                              Address is required
                            </div>
                                    
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="form-outline mb-4">
                          <input
                            type="password"
                            class="form-control"
                            formControlName="password"
                            placeholder="Enter Password"
                            id="pwd"
                          />
                          <div
                            *ngIf="
                              submitted && addForm.controls.password.errors
                            "
                            class="error"
                          >
                            <div
                              class="text-danger"
                              *ngIf="addForm.controls.password.errors.required"
                            >
                              Password is required
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="text-center pt-1 mb-2 pb-1">
                          <button
                            class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3"
                          >
                            Sign up
                          </button>
                          &nbsp; &nbsp;
                          <div *ngIf="invalidRegisteration" class="error">
                            <div class="text-danger">
                              Already have an Account.
                            </div>
                          </div>
                        </div>
                      </div>

                      <div
                        class="d-flex align-items-center justify-content-center pb-4"
                      >
                        <p class="mb-0 me-2">Account Already Exists.</p>
                        <button
                          type="button"
                          class="btn btn-outline-danger"
                          routerLink="/login"
                        >
                          Login
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="card-body">
                  <img
                    src="assets/images/login11.jpg"
                    style="height: 95%; width: 95%"
                  />
                  <!-- <div class="column">
           
              <div class="row">
                <img  src="assets/images/login1.jpg" style="height: 95%; width:95%; "/>
                </div>
                <div class="row">
                  <img  src="assets/images/login4.jpeg" style="height: 95%; width:95%; "/>
                  </div>
              </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-circle-1 bg-circle"></div>
  <div class="bg-circle-2 bg-circle"></div>
  <div class="bg-circle-3 bg-circle"></div>
  <div class="bg-circle-4 bg-circle"></div>
</header>


<footer class="bg-dark text-center text-white">
  <div class="container p-4 pb-0">
    <section class="mb-4">

      

      <a class="p-2 fa-lg fb-ic">
        <a href="#" class="fa fa-facebook"></a>
      </a>
      <a class="p-2 fa-lg ins-ic">
        <a href="#" class="fa fa-twitter"></a>
      </a>
      <a class="p-2 fa-lg ins-ic">
        <a href="#" class="fa fa-google"></a>
      </a>
      <a class="p-2 fa-lg ins-ic">
        <a href="#" class="fa fa-linkedin"></a>
      </a>
      <a class="p-2 fa-lg ins-ic">
        <a href="#" class="fa fa-instagram"></a>
      </a>
      <a class="p-2 fa-lg ins-ic">
        <a href="#" class="fa fa-github"></a>
      </a>
      <br><br>
      <p class="text-muted">
        &copy; Module No. 411, 4th Floor, NSIC-MDBP Building Okhla Industrial
        Estate, New Delhi – 110020 (INDIA)<br />
        M - +919897546378
      </p>

    </section>
  </div>
 
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright:
    <a class="footer-link" href="#"> Ministry of Women Development</a
      >&nbsp; developed and maintained by
      <a class="footer-link" href="">&nbsp;Larsen & Toubro Infotech</a>
  </div>

</footer>
